<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <add name="Mycon" connectionString="Data Source=215-6565;Initial Catalog=SmartBusing;User ID=sa;Password=password24$" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
